{
  "passPerPreset": true,
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy"
  ],
  "presets": [
    {
      "plugins": [
        "./babelRelayPlugin"
      ]
    },
    "react",
    "es2015",
    "stage-0"
  ]
}