@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

#alert {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'open-sans';
}

#edit_text_form {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'open-sans';
}

#table {
    margin: 0 10px 0 10px;
    overflow: auto;
    font-family: 'open-sans';
}

body {
    font-size: 14px;
    font-family: 'open-sans';
}
