body {
    font-size: 14px;
    font-family: 'open-sans';
}

.card {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.listItem {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #d6d6d6;
}

.listItem:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.listItem:active {
    background-color: rgba(0, 0, 0, 0.24);
}

.iconDeleteTableList:hover {
    color: crimson;
}

.iconDeleteTableList:active {
    color: crimson;
}

.iconToolbarForm {
    color: black;
    float: right;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.iconToolbarFormClose:hover {
    color: white;
    background-color: crimson;
}

.iconToolbarFormClose:active {
    color: white;
    background-color: rgba(220, 20, 60, 0.76);
}

.iconToolbarFormMinimize:hover {
    background-color: rgba(117, 117, 117, 0.50);
}

.iconToolbarFormMinimize:active {
    background-color: rgba(117, 117, 117, 0.70);
}

.iconTaskBarGrid {
    color: black;
    padding-right: 10px;
    padding-left: 10px;
}

.iconTaskBarGrid:hover {
    background-color: rgba(0, 0, 0, 0.12);

}

.iconTaskBarGrid:active {
    background-color: rgba(0, 0, 0, 0.24);
}

